<div class="container white-container post">
    <div class="row">
        <div class="col-sm-8">
            <div class="price h3">{{ info.price | currency : '₪' : 0}} מחיר</div>
            <p class="h3">כותרת</p>
            <p class=""><span class="glyphicon glyphicon-map-marker"></span> מיקום</p>
            <p class=""><span class="glyphicon glyphicon-calendar"></span> {{ info.created_time | calculatedDate }}</p>
            <table class="table borderless">
                <tr>
                    <td>
                        דגם
                    </td>
                    <td>
                        שם דגם
                    </td>
                </tr>
                <tr>
                    <td>
                        דגם
                    </td>
                    <td>
                        שם דגם
                    </td>
                </tr>
            </table>
            <p>
                <button type="button" class="btn btn-link" ng-click="showHide = !showHide" ng-show="!showHide">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    הרחב
                </button>
                <button type="button" class="btn btn-link" ng-click="showHide = !showHide" ng-show="showHide">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    צמצם
                </button>
            </p>
            <div ng-if="showHide">
                <blockquote>{{ info.message}}</blockquote>
                <div class="row user">
                    <div class="col-xs-4 user-img">
                        <img class="img-circle center-block" ng-src="http://graph.facebook.com/{{ info.from.id }}/picture?type=large" />
                    </div>
                    <div class="col-xs-8">
                        <p class="phone"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <a ng-href="https://www.facebook.com/{{ info.from.id }}"> {{ info.from.name }}</a>
                        </p>
                        <p class="phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ info.phone | tel }}</p>
                    </div>
                </div>
                <a ng-href="https://www.facebook.com/{{ info.id }}"><button class="btn btn-default to-post">למודעה</button></a>
            </div>
        </div>
        <div class="large-img col-sm-4 hidden-xs">
            <img alt="picture" class="img-responsive img-rounded img-scaled" ng-src="{{ info.image[0].src }}" />
        </div>
    </div>
</div>