<div class="container white-container post">
    <div class="row">
        <div class="col-sm-7">
            <div class="price h3">{{ postObject.price | currency : '₪' : 0}}</div>
            <p class="h4">{{ postObject.title }}</p>
            <p class=""><span class="glyphicon glyphicon-map-marker"></span> {{ postObject.location }}</p>
            <p class=""><span class="glyphicon glyphicon-calendar"></span> {{ postObject.created_time | calculatedDate }}</p>
            <table class="table borderless">
                <tr ng-repeat="(key, data) in postObject.specs">
                    <td class="col-xs-4">{{ key }}</td>
                    <td class="col-xs-8">{{ data }}</td>
                </tr>
            </table>
            <p>
                <button type="button" class="btn btn-link" ng-click="showHide = !showHide" ng-show="!showHide">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    הרחב
                </button>
                <button type="button" class="btn btn-link" ng-click="showHide = !showHide" ng-show="showHide">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    צמצם
                </button>
            </p>
        </div>
        <div class="col-sm-5 hidden-xs">
            <div id="{{ postObject.id + '_carousel' }}" class="carousel slide" data-interval="false" ng-if="postObject.hasOwnProperty('images')">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="{{ '#' + postObject.id + '_carousel' }}" data-slide-to="{{ $index }}" ng-class="{ active:!$index }" ng-repeat="image in postObject.images"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item img-responsive" ng-class="{ active:!$index }" ng-repeat="image in postObject.images">
                        <img class="img-responsive img-scaled" ng-src="{{ image.src }}">
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" ng-href="{{ '#' + postObject.id + '_carousel' }}" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" ng-href="{{ '#' + postObject.id + '_carousel' }}"  role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-if="showHide">
        <div class="col-sm-12">
            <blockquote>{{ postObject.message}}</blockquote>
            <div class="row user">
                <div class="col-xs-4 user-img">
                    <img class="img-circle center-block" ng-src="http://graph.facebook.com/{{ postObject.from.id }}/picture?type=large" />
                </div>
                <div class="col-xs-8">
                    <p class="phone"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <a ng-href="https://www.facebook.com/{{ postObject.from.id }}"> {{ postObject.from.name }}</a>
                    </p>
                    <p class="phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ postObject.phone | tel }}</p>
                </div>
            </div>
            <a ng-href="https://www.facebook.com/{{ postObject.id }}"><button class="btn btn-default to-post">למודעה</button></a>
        </div>
    </div>
</div>