<div class="white-container post">
    <div class="row">
        <div class="col-sm-7">
            <div class="price h3" ng-if="postObject.hasOwnProperty('price')">{{ postObject.price | currency : '₪' : 0}}</div>
            <p class="h4 title" ng-if="postObject.hasOwnProperty('title')">{{ postObject.title }}</p>
            <p class="" ng-if="postObject.hasOwnProperty('location')"><span class="glyphicon glyphicon-map-marker"></span> {{ postObject.location }}</p>
            <p class=""><span class="glyphicon glyphicon-calendar"></span> {{ postObject.created_time | calculatedDate }}</p>
            <table class="table borderless">
                <tr ng-repeat="(key, data) in postObject.specs">
                    <td class="col-xs-4">{{ key }}</td>
                    <td class="col-xs-8">{{ data }}</td>
                </tr>
            </table>
            <p>
                <button type="button" class="btn btn-link" ng-click="showHide = !showHide" ng-show="!showHide">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    הרחב
                </button>
                <button type="button" class="btn btn-link" ng-click="showHide = !showHide" ng-show="showHide">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    צמצם
                </button>
            </p>
        </div>
        <div class="col-sm-5 hidden-xs">
            <carousel post-object="postObject"></carousel>
        </div>
    </div>
    <div class="row slide-in" ng-if="showHide">
        <div class="col-sm-12">
            <blockquote>{{ postObject.message}}</blockquote>
            <div class="row user">
                <div class="col-xs-4 user-img">
                    <img class="img-circle center-block" ng-src="http://graph.facebook.com/{{ postObject.from.id }}/picture?type=large" />
                </div>
                <div class="col-xs-8">
                    <p class="phone"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <a ng-href="https://www.facebook.com/{{ postObject.from.id }}" target="_blank"> {{ postObject.from.name }}</a>
                    </p>
                    <p class="phone" ng-if="postObject.hasOwnProperty('phone')"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ postObject.phone | tel }}</p>
                </div>
            </div>
            <a ng-href="https://www.facebook.com/{{ postObject.id }}" target="_blank"><button class="btn btn-facebook to-post">למודעה</button></a>
        </div>
    </div>
</div>
