#Workspace
.idea
The-Project-0.1.iml
node_modules
npm-debug.log

#LESS compiled files
less/*.css
less/mixins/*.css

# config files
config*.ini
config*.js

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk