<div class="main">
    <div class="container">
        <h1 class="cat-title">
            {{category.categoryName}}
        </h1>
    </div>

    <div class="container white-container">
        <div class="row">
            <div class="col-sm-3" ng-repeat="spec in category.specs">
                <spec-select info="spec"></spec-select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <button type="button" class="btn btn-link">אפשרויות נוספות</button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-default" style="float: left">חפש</button>
            </div>
        </div>
    </div>


    <post-template ng-repeat="post in category.posts" post-object="post"></post-template>

    <div class="container pagination-div">
        <a class="btn btn-default" ng-disabled="category.pagination.backButtonDisabled()" ng-click="category.pagination.back()">
            <span class="glyphicon glyphicon-chevron-right"></span>
            הקודם
        </a>
        <a class="btn btn-default" ng-disabled="category.pagination.forwardButtonDisabled()" ng-click="category.pagination.forward()">
            הבא
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
</div>