<div class="main">
    <div class="container">
        <h1 class="cat-title">
            {{posts.categoryName}}
        </h1>
    </div>
    <div class="container fade-in" ng-show="posts.posts !== undefined">
        <div class="white-container" id="search" ng-controller="searchCtrl as search">
            <div class="row">
                <div class="col-sm-3" ng-repeat="(key, val) in search.specselect"
                     style="min-height: 71px; margin-bottom: 10px">
                    <spec-select spec-key="key" spec-val="val" settings="search.specselectSettings"></spec-select>
                </div>
                <div class="col-sm-3" ng-repeat="(key, val) in search.specRange"
                     style="min-height: 71px; margin-bottom: 10px">
                    <spec-range spec-key="key" spec-min="val['min']" spec-max="val['max']"></spec-range>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-default" style="float: left" ng-click="search.search()">חפש</button>
                </div>
            </div>
        </div>
    </div>

    <loading style="z-index: -1; position: absolute;" ng-show="posts.posts === undefined"></loading>

    <div class="container fade-in" ng-show="posts.posts !== undefined">
        <post-template ng-repeat="post in posts.posts" post-object="post" love="posts.love(postToLove)"></post-template>
    </div>

    <div class="container pagination-div fade-in" ng-show="posts.posts !== undefined">
        <a class="btn btn-default" ng-disabled="posts.pagination.backButtonDisabled()" ng-click="posts.pagination.back()">
            <span class="glyphicon glyphicon-chevron-right"></span>
            הקודם
        </a>
        <a class="btn btn-default" ng-disabled="posts.pagination.forwardButtonDisabled()" ng-click="posts.pagination.forward()">
            הבא
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
</div>
