.slide-in-out {
  /* The starting CSS styles for the enter animation */
  /* now the element will fade out before it is removed from the DOM */
}
.slide-in-out.ng-enter {
  transition: 0.25s ease-in all;
  max-height: 0;
  /* The finishing CSS styles for the enter animation */
}
.slide-in-out.ng-enter.ng-enter-active {
  overflow: hidden;
  max-height: 999px;
}
.slide-in-out.ng-leave {
  transition: 0.25s ease-out all;
  max-height: 999px;
}
.slide-in-out.ng-leave.ng-leave-active {
  overflow: hidden;
  max-height: 0;
}
.fade-in {
  position: relative;
  top: 0;
  opacity: 1;
}
.fade-in.ng-hide {
  top: -50px;
  opacity: 0;
}
.fade-in.ng-hide-add,
.fade-in.ng-hide-remove {
  transition: 1s ease-in-out all;
}
